.body {
    font-family:'Roboto', sans-serif;
    color: #FFF;
    line-height:1.2em;
    font-size:17px;
    line-height:20px;
}

.navbar {
    background: #181A1C;
    margin-bottom:0;
    min-height:70px;
}

.navbar-fixed-top {
    min-height:60px;
    height:60px;
    padding-top:0;
}

.navbar-inner {
    background: #181A1C;
    border-radius:0;
    filter: none;
    border: none;
    box-shadow: none;
}

.navbar .brand img {
    width:120px;
    height:40px;
    position: relative;
    left: -229%;
    top: -42px;
}

.navbar .nav > li > a {
    text-transform:uppercase;
    line-height: auto;
    color:white !important;
    vertical-align: middle;
    margin:10px 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid #181A1C;
    box-shadow: none;
    font-size:15px;
    text-shadow: none;
    color: #fff;
    transition: border-color 1s ease;
}

.navbar .nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    border: 1px solid #FECE1A;
    color: #fff;
    background-color: #181A1C;
    transition: border-color 1s ease;
}

.navbar .btn-navbar {
    border-radius: 0;
    background: #FECE1A;
    color: #000;
}

/* .nav-pills > li > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background: #181A1C;
    color: #fff;
} */

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FECE1A;
    opacity: 0.85;
    text-align:left;
}

.top-cut {
    margin: 0 auto;
    text-align:center;
    width: 0;
    height: 0;
    border-top: 30px solid #181A1C;
    border-left: 585px outset transparent;
    border-right: 585px outset transparent;
    position: relative;
}

.da-slider {
    width: 100%;
    min-width: 320px;
    height: 520px;
    position: relative;
    margin:0 auto;
    overflow: hidden;
    background: transparent url(../images/background.png) repeat-x 0% center; /* Replace with your background image*/
    background-size:auto 100%;
}

.back .da-img {
    float:right;
    text-align: center;
    width: 40%;
 
    height: 300px;
    line-height: 360px;
    left: 110%;
}

.back .container {
    margin-top: -30px;
    position: relative;
    height: 100%;
}

a {
    color:#181A1C;
    text-decoration: none;
}
a:hover {
    color: #FECE1A;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    margin: 10px;
}
.back p {
    width: 45%;
    padding:0px;
    top: 230px;
    color: #000;
    height: 90px;
    overflow: hidden;
    font-weight: 400;
}

.back h2,
.back h4{
    color: #181A1C;
    text-transform:uppercase;
      white-space: nowrap;
    z-index: 10;
}
.back h2 {
    font-size: 33px;
    width: 50%;
    top: 120px;
    font-weight:bold;
}

.back h4{
    width: 50%;
    font-size:22px;
    top: 175px;
    font-weight: normal;
}

.back h2, h4, p,a{
    margin-left:200px;
    margin-top:50px;
}

.back .da-img{
    margin-left:300px;
    margin-top:-200px;
}

.section3 h1{
    text-align: center;
    color:#FEFFFF;
    margin-top: 0px;
}
.section3 .mollis{
    text-align: center;
    font-size: 29px;
    margin-left: 0px;
    color: #A9986C;
}
.section3{
    background: #191A1C;
    margin-top: 0px;
}

.section3 hr{
    border-top: 3px solid #7F8082 !important;
    border-color: #141517;
    width: 91%;
    margin-left: 4%;
    border-bottom: 1px solid #7F8082 !important;
}

.section1{
    background: #191A1C;
}
.imagesection4{
    margin-left: 4%;
}

.section8 h1{
    color:#D2A224;
}

.section8{
    display: flex;
    align-items: flex-start;
    margin-left: 9%;
}

.section8 h3{
    font-size: 20.5px;
    width: 74%;
    text-align: center;
    color:white;
}
.imagesection4 img{
    width: 86%;
}